<!DOCTYPE html>
<html>
<<<<<<< HEAD
  <h1>Buster's Best Bowling Alley</h1>
  <h2>Bet You Can't Bowl A Strike Every Time</h2>
  <p>97 Bowling Alley Lane, Boulder CO </p>
=======
  <hl>Buster's Best Bowling Alley</hl>
  <h2>Bet You Can't Bowl A Strike Every Time</h2>
  <p>97 Bowling Alley Lane, Boulder CO</p>
>>>>>>> 8ed88497367e0b82e08959f9b31a97a8ff4bd664
</html>